<div class="footer">
    <div class="widget-col">
        <h3 class="widget-title">zuteks</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Products/products.html">Products</a></li>
            <li><a href="projects/projects.html">Projects</a></li>
        </ul>
    </div>
    <div class="widget-col">
        <h3 class="widget-title">About Us</h3>
        <ul>
            <li><a href="contactUs/contactus.html">Contact</a></li>
            <li><a href="about/privacyPolicy.html">Privacy Policy</a></li>
            <li><a href="cookiePolicy.html">Cookie Policy</a></li>
        </ul>
    </div>
    <div class="widget-col">
        <h3 class="widget-title">Contact</h3>
        <ul>
            <li>studio@zuteks.com</li>
            <li>+38732663109</li>
            <li>Rosulje BB <br> 74264 Jelah <br> Bosnia and Herzegovina</li>
        </ul>
    </div>
    <div class="copyright">
        <p>© zuteks 1996 ― Design by Minela Salkičević</p>
    </div>
</div>
