.wrapper {
   
    height: 100vh;

    .signup-wrapper {
        background-color:#305c51;
        width: 30%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    
        .signup-img {
            margin:40px auto;
            width: 60px;
        }
    
        .signup-info {
            margin: 0px 40px 20px;
    
            input {
                border: none;
                outline: none;
                margin: 0px;
                margin-top: 20px;
                padding: 5px;
                height: 30px;
                width: 100%;
                background-color: #305c51 ;
                border-bottom: 1px solid  rgb(221, 221, 221);
                text-align: center;
                color: rgb(221, 221, 221);
            }
    
            .button {
                width: 60%;
                margin: auto;
                
    
                button {
                    background-color: white;
                    border-radius: 30px;
                    width: 100%;
                    height: 40px;
                    border: none;
                    outline: none;
                    margin-top: 50px;
                    color: #305c51;
                    font-weight: bold;
                }
            }
        }
    
        .terms {
            margin: 0 60px;
            p {
                color:rgb(221, 221, 221);
                font-size: 12px;
                text-align: center;
                margin-bottom: 10px;
            }
            
        }
    
        hr {
          background-color: rgb(221, 221, 221);
        }
    
        .login {
            margin: 0 40px;
            p {
                color: rgb(221, 221, 221);
                text-align: center;
    
                span {
                    text-decoration: underline;
                    cursor: pointer;
                    text-transform: uppercase;
                }
            }
        }
       
    }
}


